{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true
  },
  "extends": ["@mbise1993/eslint-config-javascript", "@mbise1993/eslint-config-react"]
}
