{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "@mbise1993/eslint-config-javascript"]
}
