@import 'primereact/resources/themes/arya-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--surface-a);
  font-family: var(--font-family);
}

.grid-container {
  height: 100vh;
  display: grid;
  grid:
    [row1-start] 'header header' 40px [row1-end]
    [row2-start] 'templates editor' 1fr [row2-end]
    / 340px auto;
}

.area-header {
  grid-area: header;
  background-color: var(--primary-color);
}

.area-templates {
  grid-area: templates;
  border-right: 1px solid var(--text-color-secondary);
}

.area-editor {
  grid-area: editor;
  background-color: var(--surface-b);
}
